@import 'buttons.css';
@import 'spc.css';

:root
{
    --dark:#2B2B2B;
    --red :#BE1E2D;
    --white:#FFFFFF;
    --letters:#E0E1DD;
}

body
{
    background-color: var(--dark);
}

.container
{
    place-items: center;
    position: absolute; 
    top: 10%;
    left: 20%;
}
    
    
nav .container a
{
        text-align: left;
        color:var(--letters);
        text-decoration: none;
        font-weight: bold;
}




    