.footer{
    display: flex;
    flex-direction: column;
    background-color: rgb(85, 85, 85);
    width: 100%;
}

.footer-top{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}
/* @keyframes logoMotion {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0); 
    }
} */

@keyframes logoGrowShrink {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1); 
    }
    100% {
        transform: scale(1); 
    }
}
.foot-img{
    width: 120px;
    height: 120px;
    border: 1px solid white;
    border-radius: 7px;
    padding: 7px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Adds shadow below the navbar */
    transition: 0.3s;
    animation: logoGrowShrink 2s ease-in-out infinite;

}





.footer-bottom{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: black;
    
}

.footer-bottom-right{
    display: flex;
    gap: 50px;
    margin-bottom: 50px ;
}

.footer-email-input:hover{
    border: 2px solid white;

}


.footer-subscribe:hover{
    transform: scale(1.1);
    transition: 0.3s;
}


@media(min-width: 768px) and (max-width: 1399px){
    .footer{
        margin: 50px 70px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .footer-top{
        display: flex;
        justify-content: center;
    }

  
}


@media(max-width:768px){
    .footer{
        margin: 50px 40px;
    }


    .footer-bottom{
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 5px; 
    }
    .footer-subscribe{
        display: flex;
        flex-direction: column;
    }
  
}